.box{
    background: lightcyan;
    width: 100px;
    margin: 100px auto;
    height: 100px;
    transition-property:transform ;
    transition-duration: 1s;
    /* transform-origin:0 100% ; */

}
.box:hover{
    /* transform: rotate(20deg); */
    /* transform: rotate(-20deg); */
    /* transform: rotate(-180deg); */
    /* transform: rotate(360deg); */

    /* transform: scaleX(3);
    transform: scaleY(3); */
    /* transform: scale(2,2); */

    /* transform:translateX(40px) ;
    transform: translate(40px,50px);
    transform: translate(50%); */

    /* transform: skewX(80deg);
    transform: skewX(90deg); */
    /* transform: skewX(100deg); */
    transform: skew(20deg, 20deg);
}