.box{
    background: lightblue;
    width: 100px;
    height: 100px;
    /* transition-property:background ;
    transition-duration: 2s;
    transition-timing-function: ease-in-out; */
/* 
    transition: background 1s ease-in-out;
    transition: width 4s ease-in-out;
    transition: height 2s ease-in-out; */
    transition: all 4s ease-in-out;
}
.box:hover{
    background: chartreuse;
    width: 200px;
    height: 200px;
}